<div id="landing">
	<div class="illustration">
		<div class="layer-0" data-slide="1500"></div>
		<div class="layer-1"></div>
		<div class="layer-2" data-slide="4500"></div>
		<div class="layer-3"></div>
	</div>
	<div class="videos">
		<div class="video">
			<div class="thumb"><a href="http://www.youtube.com/watch?v=a59_fJ9Guc0" class="youtube-box"><img src="/assets/videos/screencast.png" alt="" /><span class="over"></span></a></div>
			<div class="title">Screencast</div>
		</div>
	</div>
	<div class="tagline">Stop <em>browsing</em>, start <em>dating</em>.</div>
	<div class="call-to-action">
		<div class="form">
			<%
				if current_user
			%>
			<div class="message">Howdy! Get started:</div>
			<div class="grouping">
				<div class="user">
					<img src="<%= current_user.picture_url(:mini) %>" />
					<%= current_user.first_name %>
				</div>
				<div class="actions">
					<div class="left">
						<%= link_to  "Create", new_date_path, :class => "mj-button mojo" %> <span>a date</span>
					</div>
					<div class="right">
						<%= link_to "Join", search_dates_path, :class => "mj-button mojo" %> <span>a date</span>
					</div>
				</div>
			</div>
			<%
				else
			%>
			<div class="guest">
				<div class="beta">
					<%= image_tag '/assets/sf-beta.jpg' %>
					<div class="text">Mojo is in private beta in San Francisco.</div>
				</div>
				<div class="invite">
					<div class="title">Sign-up to receive an invite and know when we launch near you:</div>
				</div>
				<div class="sign-up">
					Already have an invite code? <%= link_to  "Sign up", account_signup_path %>
				</div>
			</div>
			<%
				end
			%>
		</div>
	</div>
</div>
<div id="flow">
	<div class="step">
		<img src="/assets/icons/flow-date.png" alt="" />
		<div class="caption">Create or<br />join a (double-)date</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/assets/icons/flow-participant.png" alt="" />
		<div class="caption">Choose participant(s) or<br />wait to be selected</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/assets/icons/flow-message.png" alt="" />
		<div class="caption">Arrange last-minute details<br />without revealing your digits</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/assets/icons/flow-rate.png" alt="" />
		<div class="caption">Rate your date so we can improve your matches!</div>
	</div>
</div>
<div id="testimonials">
	<div class="block-left alternate-elements">
		<div class="promo-block">
			<img src="/assets/icons/testimonials/timer.png" />
			<div class="title">Timely &amp; Actual</div>
			<div class="text">We want you to spend as little time online as possible, and enjoy your time meeting people in the real world now. This is how we designed Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/assets/icons/testimonials/gears.png" />
			<div class="title">Genuine &amp; Personal</div>
			<div class="text">Mojo establishes your profile using progressive personality testing and feedback aggregation. The more you use it, the more you meet people like you.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/assets/icons/testimonials/privacy.png" />
			<div class="title">Less exposing</div>
			<div class="text">Only those wanting to join your dates or hosting a date you are trying to join can find you on Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/assets/icons/testimonials/key.png" />
			<div class="title">Safer</div>
			<div class="text">Not only are double-dates meant so you can bring your friends along, but you actually meet people without ever revealing your contact info or full name.</div>
		</div>
	</div>
	<div class="block-center">
		<div class="bigsparkle">⁑</div>
	</div>
	<div class="block-right">
		<!-- Twitter widget -->
		<script type="text/javascript">
			makkintosshu.twitterStatuses.tweetCount = 1;
		</script>
		<div id="mtaTwitter"></div>
		<script type="text/javascript" src="http://www.twitter.com/statuses/user_timeline/mojo.json?skip_user=true&amp;callback=makkintosshu.twitterStatuses.twitterCallback"></script>
	</div>
</div>
