<!--<div id="top-frame">
	<h2 class="tagline">Happy and dating.</h2>
	<div class="start-stepflow">
		<div class="quick-start">
			<div class="opaque-layer"></div>
			<div class="content-layer">
				<div class="title">Schedule your date:</div>
				<%#= form_tag stepflow_path, :method => :get do %>
					<select name="stepflow[timerange](1s)">
					<%
						0.upto 7 do |d|
							day = Date.today + d.days
					%>
						<option value="<%= day %>"><%= (d == 0)? "Today" : day.strftime("%a") %></option>
					<%
						end
					%>
					</select>
					<select name="stepflow[timerange](2s)">
						<option value="12:00-15:00">12-3 pm</option>
						<option value="15:00-18:00">3-6 pm</option>
						<option value="18:00-21:00" selected>6-9 pm</option>
					</select>
					<div class="submit">
						<button type="submit" class="mojo">Get excited</button>
					</div>
				<%# end %>
			</div>
		</div>
		<div class="nav-info">
			<div class="numbers">
				<div>1</div>
				<div>2</div>
				<div>3</div>
			</div>	
			<div class="caption">...in 2 minutes</div>
		</div>
	</div>
</div>-->
<div id="landing">
	<div class="illustration">
		<div class="layer-0" data-slide="1500"></div>
		<div class="layer-1"></div>
		<div class="layer-2" data-slide="4500"></div>
		<div class="layer-3"></div>
	</div>
	<div class="videos">
		<div class="video">
			<div class="thumb"><a href="http://www.youtube.com/watch?v=a59_fJ9Guc0" class="youtube-box"><img src="/images/videos/screencast.png" alt="" /><span class="over"></span></a></div>
			<div class="title">Screencast</div>
		</div>
	</div>
	<div class="tagline">Stop <em>browsing</em>, start <em>dating</em>.</div>
	<div class="call-to-action">
		<div class="form">
			<%
				if current_user
			%>
			<div class="message">Howdy! Get started:</div>
			<div class="grouping">
				<div class="user">
					<img src="<%= current_user.picture_url(:mini) %>" />
					<%= current_user.first_name %>
				</div>
				<div class="actions">
					<div class="left">
						<%= link_to  "Create", new_date_path, :class => "mj-button mojo" %> <span>a date</span>
					</div>
					<div class="right">
						<%= link_to "Join", search_dates_path, :class => "mj-button mojo" %> <span>a date</span>
					</div>
				</div>
			</div>
			<%
				else
			%>
			<div class="invite-message">Mojo is in private beta in San Francisco only.</div>
			<div class="invite-form">
				Sign-up for an invite:
			</div>
			<div class="sign-on">
				Already have an invite code? <%= link_to  "Sign up", account_signup_path, :class => "mj-button mojo" %>
			</div>
			<%
				end
			%>
		</div>
	</div>
</div>
<div id="flow">
	<div class="step">
		<img src="/images/icons/flow-date.png" alt="" />
		<div class="caption">Create or<br />join a (double-)date</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-participant.png" alt="" />
		<div class="caption">Choose participant(s) or<br />wait to be selected</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-message.png" alt="" />
		<div class="caption">Arrange last-minute details<br />without revealing your digits</div>
		<div class="link">➜</div>
	</div>
	<div class="step">
		<img src="/images/icons/flow-rate.png" alt="" />
		<div class="caption">Rate your date so we can improve your matches!</div>
	</div>
</div>
<div id="testimonials">
	<div class="block-left alternate-elements">
		<div class="promo-block">
			<img src="/images/icons/timer.png" />
			<div class="title">Timely &amp; Actual</div>
			<div class="text">We want you to spend as little time online as possible, and enjoy your time meeting people in the real world now. This is how we designed Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/gears.png" />
			<div class="title">Genuine &amp; Personal</div>
			<div class="text">Mojo establishes your profile using progressive personality testing and feedback aggregation. The more you use it, the more you meet people like you.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/privacy.png" />
			<div class="title">Less exposing</div>
			<div class="text">Only those wanting to join your dates or hosting a date you are trying to join can find you on Mojo.</div>
		</div>
		<div class="promo-block" style="display: none;">
			<img src="/images/icons/key.png" />
			<div class="title">Safer</div>
			<div class="text">Not only are double-dates meant so you can bring your friends along, but you actually meet people without ever revealing your contact info or full name.</div>
		</div>
	</div>
	<div class="block-center">
		<div class="bigsparkle">⁑</div>
	</div>
	<div class="block-right">
		<!-- Twitter widget -->
		<script type="text/javascript">
			makkintosshu.twitterStatuses.tweetCount = 1;
		</script>
		<div id="mtaTwitter"></div>
		<script type="text/javascript" src="http://www.twitter.com/statuses/user_timeline/mojo.json?skip_user=true&amp;callback=makkintosshu.twitterStatuses.twitterCallback"></script>
	</div>
</div>
