<div class="login-page password-reseting">
	<%= flash_messages %>
	<h2>Change your password</h2>
	<div class="box">
		<%= form_for @user, :url => password_reset_path, :method => :put do |f| %>
			<div class="labeled-input">
				<%= format_errors_for @user, :password, {:title => 'Password'} %>
			    <div><%= f.password_field :password, :size => nil %></div>
				<%= f.label :password, 'Password' %>
			</div>
			<div class="labeled-input space">
			    <div><%= f.password_field :password_confirmation, :size => nil %></div>
				<%= f.label :password_confirmation, 'Password confirmation' %>
			</div>
			<div class="submit"><button type="submit" class="mj-button mojo">Update and Sign in</button></div>
		<% end %>
	</div>
</div>
