<%
	if (@left_on_list > 0) then
%>
	<div class="incoming">
		<%= pluralize(@left_on_list, 'more entries') %>
	</div>
<%
	end
%>
<% if @entry %>
<div class="current" draggable="true" id="entry-<%= @entry.id %>">
	<%= image_tag @entry.party.picture_url(:mini), :class => 'drag-icon' %>
	<div class="entrants full-width">
		<%= render :partial => 'users/user', :collection => @entry.party.individuals, locals: {kind: :match} %>
	</div>
	<div class="actions">
		<%= link_to "Eject", pass_date_entry_path(@sortie, @entry), :class => 'pass' %>
		<%= link_to "Invite", invite_date_entry_path(@sortie, @entry), :class => 'invite' %>
	</div>
</div>
<% else %>
<div>Bummer! No entrants yet...</div>
<% end %>
