<h3>Entries</h3>
<div class="remaining-time"><%= distance_of_time_in_words Time.now, @sortie.time %> left</div>
<div class="participants-view">
	<div class="sortie-box">
		<div class="title"><%= @sortie.title %></div>
		<div class="content">
			<div class="participant host">
				<div class="picture" style="background-image: url(<%= @sortie.creator.picture_url(:mini) %>)">
				</div>
				<div class="title">
					<div class="name"><%= @sortie.creator.first_name %></div>
					<div class="rating">★★★☆</div>
				</div>
			</div>
			<div class="spot" id="drop-invite" data-action="invite">
			</div>
		</div>
	</div>

	<div class="participants-viewport">
		<div class="participants">
		<%= render :partial => 'waitlist' %>
		</div>
	</div>

	<div class="eject">
		<div class="symbol" id="drop-pass" data-action="pass"><span>⏏</span></div>
		<div class="title">Good luck!</div>
	</div>
</div>
