<div class="form-item">
	<%= format_errors_for s.object, :current_password %>
	<div class="title"><%= s.label :current_password, "Current Password" %></div>
	<div class="hybrid-input password">
		<div><%= s.password_field :current_password %></div>
	</div>
</div>
<div class="form-item">
	<%= format_errors_for s.object, :password %>
	<div class="title"><%= s.label :password, "New Password" %></div>
	<div class="hybrid-input password">
		<div><%= s.password_field :password %></div>
		<div class="subinput">
			<%= s.password_field :password_confirmation %>
			<div class="title">Confirmation</div>
		</div>
	</div>
</div>
