<div class="hybrid-input">
	<div class="mj-timerange-input">
		<%= hidden_field_tag "#{name}(2s)", value[:time_start] %>
		<%= hidden_field_tag "#{name}(3s)", value[:time_end] %>
		<div class="day-tabs">
		<%
			0.upto 7 do |d|
				day = Date.today + d.days
		%>
			<label<% if (day == value[:day].to_date) %> class="active"<% end %>><%= radio_button_tag "#{name}(1s)", day.strftime("%F"), (day == value[:day].to_date) %><% if sorties_by_day[d].size > 0 %>
				<div class="result-count">
					<% t = 0; sorties_by_day[d].size.times do %><div class="marker" style="bottom: <%= t*3 %>px"></div><%  t += 1; end %>
				</div>
			<% end %><%= (d == 0)? "Today" : day.strftime("%a") %></label>
			
		<%
			end
		%>
		</div>
		<div class="frame">
			<%
				if (options[:sorties].size > 0)
			%>
			
			<div class="sorties">
				<!-- :class << 'scoped', done by JS -->
				<%
					0.upto 7 do |d|
						day = Date.today + d.days
						
				%>
				<div class="day" data-day="<%= day.strftime("%F") %>">
					<%	
					
						base_time = day + 6.hours
						
						[:sorties, :upcoming_sorties].each do |t|
							options[t].each do |sortie|
								if (sortie.time.to_date == day and sortie.time > base_time)

									elapsed_time = sortie.time - base_time
									position = (elapsed_time > 0)? ((elapsed_time / (60 * 30)) * set[:ds]).floor : 0
					%>
					<div class="<%= t == :sorties ? 'sortie':'upcoming' %> date-<%= sortie.id %>" style="left: <%= position %>px" data-time="<%= sortie.time.strftime("%R") %>" data-date-id="<%= sortie.id %>"><div class="range" title="<%= "#{sortie.title} with #{sortie.host.first_name}" %>"></div>◆</div>
					<%
								end
							end
						end
					%>
				</div>
				<%
					end
				%>
			</div>
			<%
				end
			%>
			<div class="timeline<% if options[:show_sorties] %> show-sorties"<% end %>">
				<%
					# time is one-dimensional we select day separately
					t = Date.today + 6.hours
				%>
				<div class="timeline-marks">
					<%
						6.upto 24 do |h|
					%>
					<div class="mark">
						<div class="line-hour"></div>
						<div class="title-hour"><%= t.strftime("%l"+([6, 12, 24].include?(h)?"%p":"")).downcase %></div>
						<%
							if (h != 24)
						%>
						<div class="line-half"></div>
						<%
							end
						%>
					</div>	
					<%
							t += 1.hours
						end
					%>
				</div>
				<div class="elapsed-and-current-time" style="width: <%= set[:elapsed] %>px;<%= (value[:day].to_date != Date.today)? " display: none;" : "" %>"></div>
				<div class="selected-time" tabindex="0" style="left: <%= set[:base] + set[:ds] * (time_to_ds(value[:time_start]) - 6 * 2) %>px; width: <%= set[:ds] * (time_to_ds(value[:time_end]) - time_to_ds(value[:time_start])) %>px;">
					<div class="start-hand" tabindex="0"></div>
					<div class="stop-hand" tabindex="0"></div>
				</div>
			</div>
		</div>
	</div>
</div>
