<div class="form-item optional"> 
	<div class="title">With <span class="info">optional</span></div> 
	<div class="hybrid-input host-mate-selector">
		<div class="current-host">
			<%= render :partial => 'users/user', :object => current_user, locals: {kind: :host} %>
		</div>
		<%= content_tag :div, :class => (['add-host'] << (s.object.wingmate ? 'inactive':nil)) do %>
			<div class="box" id="add-host-button">Add a wingmate</div>
		<% end %>
		<% if s.object.wingmate %>
		<div class="set-wingmate">
			<%= s.hidden_field :wingmate %>
			<%= render :partial => 'users/user', :object => s.object.host.mate, locals: {kind: :host} %>
			<div class="remove" id="remove-wingmate">
				<div class="symbol">✗</div>
				<div class="caption">remove</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="hybrid-input friend-selection">
		<%= render :partial => 'friendships/friendlist.select' %>
	</div>
</div>
<div class="form-item"> 
	<div class="title">Category</div> 
	<!-- TODO: fix to non-JS and arrows use, see: http://test.cita.illinois.edu/aria/radio/radio1.php --> 
	<div class="hybrid-input mj-select-container">
		<%= s.select :category, [["Food and Drinks", "food_and_drinks"], ["Entertainment", "entertainment"], ["Outdoor", "outdoor"]], {}, {:class => "mj-category-select"} %>
	</div>
</div> 
<div class="form-item">
	<%= format_errors_for s.object, :title %>
	<div class="title">Title</div>
	<div class="hybrid-input">
		<%= s.text_field :title %>
	</div> 
</div> 
<div class="form-item"> 
	<div class="title">Description</div> 
	<div class="hybrid-input">
		<%= s.text_area :description %>
	</div> 
</div>
<div class="form-item">
	<%= format_errors_for s.object, :time %>
	<div class="title">Time</div>
	<div class="hybrid-input mj-time-selector">
			<div class="move-start">◀</div>
			<div class="viewport input-holder">
				<%
					time_options = []
					time_options_start = Date.today.to_time + 6.hours
					0.upto (18*4) do |t|
						time = time_options_start + (t * 15).minutes
						time_options << [time.strftime("%I:%M%P"), time.strftime("%H:%M")]
					end

					start_time = Time.now + 2.hours
					0.upto 14 do |d|
						day = start_time.to_date + d.days
				%>
				<label class="day-box">
					<div class="radio">
						<%= s.radio_button :time_date, day.strftime("%F") %>
					</div>
					<%= content_tag :div, :class => (['day'] << (( [6, 7].include?(day.strftime("%u").to_i) )? 'weekend' : nil)) do %>
						<div class="month"><%= day.strftime("%b") %></div>
						<div class="weekday"><%= (d == 0)? "Today" : day.strftime("%a") %></div>
						<div class="monthday"><%= day.strftime("%e") %></div>
					<% end %>
				</label>
				<%
					end
				%>
				<div class="time-selector">
					<!-- TODO: restrict time from 6am to 12pm? -->
					<%= s.select :time_hourminutes, time_options %>
				</div>
			</div>
			<div class="move-end">▶</div>
	</div>
</div> 
<div class="form-item">
	<%= format_errors_for s.object, :place %>
	<div class="title">Location</div>
	<div class="hybrid-input featured">
		<div class="roller">
			<div class="prev">◀</div>
			<div class="list">
				<div class="title">Feat.:</div>
				<div class="business">
					<div class="title">La Boulange</div>
					<div class="details">Pacific Heights - Open until 7</div>
					<div class="offer">Serving a special chocolate berry coffee.</div>
				</div>
				<div class="business" style="background-image: url(/images/businesses/tortillaheights.jpg)">
					<div class="title">Tortilla Heights</div>
					<div class="details">Pacific Heights - Open until 11</div>
					<div class="offer">Welcomes Mojo members.</div>
				</div>
			</div>
			<div class="next">▶</div>
		</div>
	</div>
	<% if s.object.place %>
	<div class="hybrid-input set-location">
		<%= s.hidden_field :location %>
		<span class="name"><%= s.object.place.name %></span>
		<span class="city">San Francisco, CA</span>
		<span class="action"><a href="#">change</a></span>
	</div>
	<% end %>
	<div class="hybrid-input mj-location-input place-view"<% if s.object.place %> style="display: none"<% end %>>
		<div class="search">
			<div class="input">
				<div class="input-with-tip">
					<div class="tip">Search a biz, a place or an address</div>
					<input type="text" value="" class="place-search" /><button class="mj-button white place-search-button">Go</button>
				</div>
			</div>
			<div class="city">
				<div class="title">
					City:
				</div>
				<div class="selection">San Francisco, CA</div>
			</div>
		</div>
		<div class="map-and-results">
			<div id="map_canvas"></div> 
			<div class="results input-holder">
				
			</div>
		</div>
		<div class="powered-by">
			<span>Reviews from</span> <%= link_to "http://www.yelp.com/" do %><%= image_tag "/images/partners/yelp.png" %><% end %>
		</div>
	</div>
</div>
