<div class="form-item">
	<div class="title">Timeframe</div>
	<%= mj_timerange "timerange", @timerange, :sorties => @sorties, :upcoming_sorties => @upcoming_sorties %>
</div>
<!--
<div class="form-item">
	<div class="title">Area</div>
	<div class="hybrid-input mj-location-input">
		<div id="map_canvas" class="with-range-selector"></div>
		<div class="map-side">
			<div class="selected-subset">
				<div class="title">City:</div>
				<div class="item">
					<div class="name">San Francisco, CA</div>
					<div class="state">Currently Selected</div>
				</div>
			</div>
			<div class="selected-subset operating">
				<div class="title">Center:</div>
				<div class="search"> 
					<input id="address" type="text" value="Search a biz, a place or an address" class="tip" /> 
				</div> 
				<div class="results">
				</div>
			</div>
		</div>
	</div>
</div>
		-->

<div class="form-item">
	<% if @single_error %>
		<div class="errors"><ul><li><%= @single_error %></li></ul></div>
	<% end %>
	<div class="title">Results</div>
	<div class="hybrid-input inset-view">
		<div class="results-map">
			<div id="map_canvas" class="with-range-selector"></div>
		</div>
		<div class="date-results">
			<%
				@sorties.each do |sortie|
				# TODO move markup and CSS to partial
			%>
			<label class="mj-sortie" id="date-<%= sortie.id %>">
				<div class="checkbox">
					<!-- name="stepflow[sorties][]" -->
					<input type="checkbox" name="sorties[]" value="<%= sortie.id %>" />
				</div>
				<div class="point">
					<div class="lat"><%= sortie.place.lat %></div>
					<div class="lng"><%= sortie.place.lng %></div>
				</div>
				<div class="header">
					<img src="/assets/icons/date-<%= sortie.category %>-micro.png" alt="" class="sortie-marker" />
					<div class="sortie-info">
						<div class="title"><%= sortie.title %></div>
						<div class="time-and-area"><%= sortie.time.strftime("%l:%M%p").downcase %>, <%= sortie.place.neighborhoods %></div>
					</div>
				</div>
				<% if !sortie.description.empty? %>
				<div class="description ellipsis toggle-text">
					<%= sortie.description %>
				</div>
				<% end %>
				<div class="hosts">
					<%= render :partial => 'users/user', :collection => sortie.hosts, locals: {kind: :match} %>
				</div>
			</label>
			<%
				end
			%>
		</div>
	</div>
</div>
