<% content_tag :li, :class => (['date'] << ((list != :entered and sortie.has_tasks_for?(current_user))? 'with_tasks':nil)) do %>
	<div class="status">
		<%
			case list
			when :open
		%>
			<% if sortie.entries.waiting.size > 0 %>
				<%= pluralize(sortie.entries.waiting.size, 'entrant') %> waiting, please go through!
			<% else %>
				Waiting for members to join.
			<% end %>
			<!-- add Waiting for your friend -->
		<%
			when :upcoming
		%>
			This date is confirmed and scheduled.
		<%
			when :past
		%>
			<% if !sortie.report_by(current_user) %>
				Please complete the date report.
			<% else %>
				You completed the date report.
			<% end %>
		<%
			when :entered
		%>
			You haven't been invited yet.
		<%
			end
		%>
	</div>
	<div class="header">
		<div class="calendar-day">
			<div class="month"><%= sortie.time.strftime("%b") %></div>
			<div class="day"><%= sortie.time.mday %></div>
		</div>
		<img src="/images/icons/date-<%= sortie.category %>-micro.png" alt="" class="category-icon" />
		<div class="info">
			<div class="title"><%= sortie.title %></div>
			<div class="time-and-area"><%= sortie.time.strftime("%l:%M%p").downcase %>, <%= sortie.place_for(current_user) %></div>
		</div>
	</div>
	<% if !sortie.description.empty? %>
	<div class="description ellipsis toggle-text">
		<%= sortie.description %>
	</div>
	<% end %>
	<div class="participants">
		<%= render :partial => 'users/user', :collection => sortie.hosts, locals: {kind: :host} %>
		<%= render :partial => 'users/user', :collection => sortie.guests, locals: {kind: :guest} %>
	</div>
	<div class="actions">
		<% if sortie.open? and sortie.hosts.include?(current_user) %>
			<% if sortie.entries.waiting.size > 0 %>
				<%= link_to "Entrants", date_entries_path(sortie.id), :class => ['mj-button', 'small', 'white'] %>
			<% else %>
				<span class="mj-button small white disabled">Entrants</span>
			<% end %>
		<% end %>
		<% if sortie.upcoming? %>
			<%= link_to "Details", confirmation_date_path(sortie), :class => ['mj-button', 'small', 'white'] %>
			<!-- Late -->
		<% end %>
		<% unless [:past, :entered].include?(list) %>
			<%= link_to "Cancel", cancel_date_path(sortie), :class => ['mj-button', 'small', 'white', 'cancel-action'] %>
		<% end %>
		<% if list == :past %>
			<% if !sortie.report_by(current_user) %>
				<%= link_to "Date report", new_date_report_path(sortie), :class => ['mj-button', 'small', 'white'] %>
			<% end %>
		<% end %>
		<% if list == :entered %>
			<%= link_to "Withdraw", withdraw_date_entry_path(sortie, sortie.find_entry_of(current_user)), :class => ['mj-button', 'small', 'white'] %>
		<% end %>
	</div>
<% end %>
<% unless [:past, :entered].include?(list) %>
	<div class="action-box cancel">
		<div class="prompt">Are you sure you want to cancel this date?</div>
		<div class="choices">
			<%= form_tag cancel_date_path(sortie), :method => :put do %>
				<button class="mj-button red" type="submit">Cancel</button>
				<button class="mj-button mojo abort">Never mind</button>
			<% end %>
		</div>
	</div>
<% end %>
