<div class="dates-layout">
	<%= flash_messages %>
	<div class="columns">
		<div class="box col-0">
			<h3>Past</h3>
			<%
				if @past_sorties.size > 0
			%>
			<ul>
				<%= render :partial => 'sortie', :collection => @past_sorties, :locals => { :list => :past } %>
			</ul>
			<%
				else
			%>
			<div class="empty">
				You don't have any past dates.
			</div>
			<%
				end
			%>
		</div>
		<div class="box col-1">
			<h3>Confirmed</h3>
			<%
				if @upcoming_sorties.size > 0
			%>
			<ul>
				<%= render :partial => 'sortie', :collection => @upcoming_sorties, :locals => { :list => :upcoming } %>
			</ul>
			<%
				else
			%>
			<div class="empty">
				You don't have any scheduled dates.
			</div>
			<%
				end
			%>
		</div>
		<div class="box col-2">
			<div class="tabs">
				<h3>Hosted <span class="count"><%= @open_sorties.size %></span></h3>
				<h3 class="inactive">Entered <span class="count"><%= @entered_sorties.size %></span></h3>
			</div>
			<%
				if @open_sorties.size > 0
			%>
				<ul>
					<%= render :partial => 'sortie', :collection => @open_sorties, :locals => { :list => :open } %>
				</ul>
			<%
				else
			%>
				<div class="empty">
					Dates you create will appear here.
				</div>
			<%
				end
			%>
			<%
				if @entered_sorties.size > 0
			%>
				<ul class="inactive">
					<%= render :partial => 'sortie', :collection => @entered_sorties, :locals => { :list => :entered } %>
				</ul>
			<%
				else
			%>
				<div class="empty inactive">
					Dates you entered will appear here.
				</div>
			<%
				end
			%>
		</div>
	</div>
	<div class="action-boxes">
	</div>
</div>

<!-- This is moving into the profile page

<h3>Dates invitations</h3>
<div>
	Accept | Decline
</div>

-->
