<div class="friendship-layout">
	<%= flash_messages %>
	<div class="friend-section">
		<div class="heading">
			<div class="title">Wingmates</div>
		</div>
		<div class="content">
			<ul class="friendlist">
				<li class="new" id="new-friend-button">
					<%= link_to new_friendship_path do %>
						<div class="symbol">＋</div>
						<div class="caption">Add</div>
					<% end %>
				</li>
				<% current_user.friends.each do |friend| %>
					<li>
						<div class="box">
							<div class="pic48"><%= image_tag friend.picture_url(:mini) %></div>
							<div class="name"><%= friend.first_name %></div>
						</div>
					</li>
				<% end %>
			</ul>
			<%#= render :partial => 'form' %>
		</div>
	</div>
	
	<div class="columns">
		<div class="col-left">
			<div class="title">Wingmate requests</div>
			<div class="box">
				<div class="tabs">
					<h3>Received <span class="count"><%= current_user.pending_friends.size %></span></h3>
					<h3 class="inactive">Sent <span class="count"><%= current_user.requested_friends.size %></span></h3>
				</div>
				<%
					if current_user.pending_friends.size > 0
				%>
				<ul>
					<%= render :partial => 'friend.request', :collection => current_user.pending_friends, :locals => { :list => :pending } %>
				</ul>
				<%
					else
				%>
				<div class="empty">
					You don't have any pending requests.
				</div>
				<%
					end
				%>
				<%
					if current_user.requested_friends.size > 0
				%>
					<ul class="inactive">
						<%= render :partial => 'friend.request', :collection => current_user.requested_friends, :locals => { :list => :requested } %>
					</ul>
				<%
					else
				%>
					<div class="empty inactive">
						You don't have any pending requests.
					</div>
				<%
					end
				%>
			</div>
		</div>
		<div class="col-right">
			<div class="title">Date requests</div>
			<div class="box">
				<div class="tabs">
					<h3>Received <span class="count"><%= @received_sortie_requests.size %></span></h3>
					<h3 class="inactive">Sent <span class="count"><%= @sent_sortie_requests.size %></span></h3>
				</div>
				<%
					if @received_sortie_requests.size > 0
				%>
				<ul>
					<%#= render :partial => 'sortie', :collection => @received_sortie_requests, :locals => { :list => :past } %>
				</ul>
				<%
					else
				%>
				<div class="empty">
					You don't have any pending requests.
				</div>
				<%
					end
				%>
				<%
					if @sent_sortie_requests.size > 0
				%>
					<ul class="inactive">
						<%#= render :partial => 'sortie', :collection => @sent_sortie_requests, :locals => { :list => :entered } %>
					</ul>
				<%
					else
				%>
					<div class="empty inactive">
						You don't have any pending requests.
					</div>
				<%
					end
				%>
			</div>
		</div>
	</div>
	
</div>
