<div class="sortie object-view">
	<div class="header">
		<div class="calendar-day">
			<div class="month"><%= sortie.time.strftime("%b") %></div>
			<div class="day"><%= sortie.time.mday %></div>
		</div>
		<img src="/images/icons/date-<%= sortie.category %>-micro.png" alt="" class="category-icon" />
		<div class="info">
			<div class="title"><%= sortie.title %></div>
			<div class="time-and-area"><%= sortie.time.strftime("%l:%M%p").downcase %>, <%= sortie.place.name %></div>
		</div>
	</div>
	<div class="participants-compact">
		<%= render :partial => 'users/user.mini', :collection => sortie.members %>
	</div>
</div>
