<%= form_for(@waitlist_entry) do |f| %>
  <% if @waitlist_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waitlist_entry.errors.count, "error") %> prohibited this waitlist_entry from being saved:</h2>

      <ul>
      <% @waitlist_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :activity %><br />
    <%= f.text_field :activity %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
