<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @waitlist_entry.user %>
</p>

<p>
  <b>Activity:</b>
  <%= @waitlist_entry.activity %>
</p>

<p>
  <b>State:</b>
  <%= @waitlist_entry.state %>
</p>


<%= link_to 'Edit', edit_waitlist_entry_path(@waitlist_entry) %> |
<%= link_to 'Back', waitlist_entries_path %>
