<%
Logger.new(STDOUT).info(f.object_name)

%>
<div class="form-inputs">
	
	<div class="form-item">
		<div class="title">Timeframe</div>
		<%= mj_timerange "stepflow[timerange]", @stepflow.timerange %>
	</div>
	<div class="form-item">
		<div class="title">Where?</div><!-- replace with 'City', remove from other part -->
		<div class="hybrid-input mj-location-input">
			<!-- TODO: sizedown map for city only? -->
			<!-- approve location request to autoselect your city -->
			<!--<div id="map_canvas" class="city-only"></div>-->
			<div class="selected-subset">
				<div class="title">City:</div>
				<div class="item">
					<div class="name">San Francisco, CA</div>
					<div class="state">Currently Selected</div>
				</div>
			</div>
			<div class="msg-info">
				Right now, Mojo is only in <br />San Francisco.
			</div>
		</div>
	</div>
	<div class="form-item" id="form_item_who">
		<div class="title">Who?</div>
		<div class="hybrid-input">
			<%= label_tag nil, :class => ["mj-choice", "new"] do %>
				<%= f.radio_button :party_of, "single" %>
				<%= content_tag :div, format_for_errors({:class => %w(person neutral host)}, @stepflow.host) do %>
					<div class="img"></div>
					<div class="title">You</div>
				<% end %>
				<div class="person neutral guest">
					<div class="img"></div>
					<div class="title">Guest</div>
				</div>
			<% end %>
			<%= label_tag nil, :class => ["mj-choice", "new"] do %>
				<%= f.radio_button :party_of, "double" %>
				<%= content_tag :div, format_for_errors({:class => %w(person neutral host)}, @stepflow.host) do %>
					<div class="img"></div>
					<div class="title">You</div>
				<% end %>
				<%= content_tag :div, format_for_errors({:class => %w(person neutral host)}, @stepflow.friend) do %>
					<div class="img"></div>
					<div class="title">Friend</div>
				<% end %>
				<div class="person neutral guest">
					<div class="img"></div>
					<div class="title">Guest</div>
				</div>
				<div class="person neutral guest">
					<div class="img"></div>
					<div class="title">Guest</div>
				</div>
			<% end %>
		</div>
		<div class="subset-form-arrow">▴</div>
		<div class="subset-form active">
			<%= f.fields_for :host do |s| %>
			<%= content_tag :div, format_for_errors({:class => %w(gridded-line equalize-line)}, s.object, [:sex, :sex_preference]) do %>
				<div class="col-0">
					You are a:
				</div>
				<div class="col-1">
					<%= format_errors_for s.object, :sex, :abs => true %>
					<div class="mj-merged-choices hybrid-input">
						<label>
							<%= s.radio_button :sex, "male" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/guy.png" /></div>
								<div class="title">Guy</div>
							</div>
						</label><label>
							<%= s.radio_button :sex, "female" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/gal.png" /></div>
								<div class="title">Gal</div>
							</div>
						</label>
					</div>
				</div>
				<div class="col-2">
					Looking for:
				</div>
				<div class="col-3">
					<%= format_errors_for s.object, :sex_preference, :abs => true %>
					<div class="mj-merged-choices hybrid-input">
						<label>
							<%= s.radio_button :sex_preference, "female" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/gal.png" /></div>
								<div class="title">Gals</div>
							</div>
						</label><label>
							<%= s.radio_button :sex_preference, "both" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/person.png" /></div>
								<div class="title">Both</div>
							</div>
						</label><label>
							<%= s.radio_button :sex_preference, "male" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/guy.png" /></div>
								<div class="title">Guys</div>
							</div>
						</label>
					</div>
				</div>
			<% end %>
			<div class="gridded-line topsize-line">
				<div class="col-0">
					Your age:
				</div>
				<div class="col-1">
					<label>
						<%= s.number_field :age, {:class => "age-text-input", :size => 2} %>
					</label>
				</div>
				<div class="col-2">
					<label class="mj-check-roll" for="stepflow_host_attributes_filter_age">
						<%= s.check_box :filter_age %>
						Age matters to you?
					</label>
				</div>
				<div class="col-3">
					<label>
						Min:
						<%= s.number_field :min_age, {:class => "age-text-input", :size => 2} %>
					</label> ⬌
					<label>
						Max:
						<%= s.number_field :max_age, {:class => "age-text-input", :size => 2} %>
					</label>
				</div>
			</div>
			<div class="gridded-line topsize-line">
				<div class="col-0">
					Your height:
				</div>
				<div class="col-1">
					<%= s.height_field :height %>
				</div>
				<div class="col-2">
					<label class="mj-check-roll" for="stepflow_host_attributes_filter_height">
						<%= s.check_box :filter_height %>
						Height matters to you?
					</label>
				</div>
				<div class="col-3">
					Min: <%= s.height_field :min_height %> ⬌ Max: <%= s.height_field :max_height %>
				</div>
			</div>
			<% end %>
		</div>
		<div class="subset-form friend">
			<%= f.fields_for :friend do |s| %>
			<%= content_tag :div, format_for_errors({:class => %w(gridded-line topsize-line)}, s.object, :email) do %>
				<div class="col-0">
					Your friend's Email:
				</div>
				<div class="col-1">
					<%= format_errors_for s.object, :email, {:title => 'Email', :abs => true, :single => true} %>
					<label>
						<%= s.email_field :email %>
					</label>
				</div>
			<% end %>
			<%= content_tag :div, format_for_errors({:class => %w(gridded-line equalize-line)}, s.object, [:sex, :sex_preference]) do %>
				<div class="col-0">
					Your friend is a:
				</div>
				<div class="col-1">
					<%= format_errors_for s.object, :sex, :abs => true %>
					<div class="mj-merged-choices hybrid-input">
						<label>
							<%= s.radio_button :sex, "male" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/guy.png" /></div>
								<div class="title">Guy</div>
							</div>
						</label><label>
							<%= s.radio_button :sex, "female" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/gal.png" /></div>
								<div class="title">Gal</div>
							</div>
						</label>
					</div>
				</div>
				<div class="col-2">
					Looking for:
				</div>
				<div class="col-3">
					<%= format_errors_for s.object, :sex_preference, :abs => true %>
					<div class="mj-merged-choices hybrid-input">
						<label>
							<%= s.radio_button :sex_preference, "female" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/gal.png" /></div>
								<div class="title">Gals</div>
							</div>
						</label><label>
							<%= s.radio_button :sex_preference, "both" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/person.png" /></div>
								<div class="title">Both</div>
							</div>
						</label><label>
							<%= s.radio_button :sex_preference, "male" %>
							<div class="person">
								<div class="img"><img src="/assets/icons/guy.png" /></div>
								<div class="title">Guys</div>
							</div>
						</label>
					</div>
				</div>
			<% end %>
			<% end %>
		</div>
	</div>

	<!--
	<div class="form-item">
		<div class="title">Your friend</div>
		<div class="hybrid-input">
			<label>
				Your friend's Email:
				<input type="text" name="friend_email" />
			</label>
		</div>
		<div class="hybrid-input">
			<label class="mj-choice">
				<input type="radio" name="gender" value="male" /> <img src="/assets/icons/guy.png" /> Guy
			</label>
			<label class="mj-choice">
				<input type="radio" name="gender" value="female" /> <img src="/assets/icons/gal.png" /> Gal
			</label>
			Looking for:
			<label>
				<input type="radio" name="gender_preference" value="female" />
				Gal
			</label>
			<label>
				<input type="radio" name="gender_preference" value="both" />
				Both
			</label>
			<label>
				<input type="radio" name="gender_preference" value="male" />
				Guy
			</label>
		</div>
	</div>
	-->

	<div class="form-item">
		<%= format_errors_for @stepflow, :operation, {:align => :right} %>
		<div class="hybrid-input mj-operation-choices">
			<!--<div class="info-choice">
				<div class="info">
					It's free!
				</div>
			</div>-->
			<label><%= f.radio_button :operation, "create" %> <strong>Create</strong> an sortie</label>
			or
			<!--<div class="info-choice">
				<div class="info">
					<strong>5</strong> approximate matches.
				</div>
			</div>-->
			<label><%= f.radio_button :operation, "join" %> <strong>Join</strong> an sortie <span class="count">(.)</span></label>
		</div>
	</div>

</div>
