<div class="stepflow-position">
	
	<div class="previous">
		
		<%
			if @stepflow.step == 0
		%>
		<a href="<%= url_for :action => :cancel %>">Cancel and <br />Return to Homepage</a>
		<%
			else
		%>
			<img class="ajax-loading" src="/assets/ajax-loading.gif" alt="loading..." />
			<button type="button" class="previous" formaction="<%= url_for :action => :previous %>"><%= nav_captions[:steps][@stepflow.step - 1] %></button> 
		<%
			end
		%>
	</div>
	
	<div class="list">
		<ol>
			<%
				
				(0..2).each do |i|
			%>
			<li<% if i == @stepflow.step %> class="current"<% end %>><div class="step-bullet"><% if i <= @stepflow.step %>•<% else %>○<% end %></div><div class="label"><%= nav_captions[:steps][i] %></div></li>
			<%
				end
			%>
		</ol>
	</div>
	
	<div class="next">
		<button type="submit"><%= nav_captions[:steps][@stepflow.step + 1] %></button>
		<img class="ajax-loading" src="/assets/ajax-loading.gif" alt="loading..." />
	</div>
	
</div>

<div class="stepflow-time-remaining">
	<span><%= nav_captions[:remaining][ongoing_view] %> to completion...</span>
</div>
