<div class="form-inputs">
	<div class="form-item">
		<div class="title">Timeframe</div>
		<%= mj_timerange(true) %>
	</div>
	<div class="form-item">
		<div class="title">Area</div>
		<div class="hybrid-input mj-location-input">
			<div id="map_canvas" class="with-range-selector"></div>
			<div class="map-side">
				<div class="selected-subset">
					<div class="title">City:</div>
					<div class="item">
						<div class="name">San Francisco, CA</div>
						<div class="state">Currently Selected</div>
					</div>
				</div>
				<div class="selected-subset operating">
					<div class="title">Center:</div>
					<div class="search"> 
						<input id="address" type="text" value="Search a biz, a place or an address" class="tip" /> 
					</div> 
					<div class="results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-item">
		<div class="title">Matching Activities</div>
		<div class="hybrid-input inset-view">
			<%
				@activities.each do |activity|
			%>
			<label class="mj-activity" id="date-<%= activity.id %>">
				<div class="checkbox">
					<input type="checkbox" name="dates[]" value="<%= activity.id %>" />
				</div>
				<div class="point">
					<div class="lat"><%= activity.lat %></div>
					<div class="lng"><%= activity.lng %></div>
				</div>
				<div class="header">
					<img src="/images/icons/date-<%= activity.activity_type %>-micro.png" alt="" class="activity-marker" />
					<div class="activity-info">
						<div class="title"><%= activity.title %></div>
						<div class="time-and-area"><%= activity.time.strftime("%l:%M%p").downcase %>, <%= activity.location_district %></div>
					</div>
				</div>
				<div class="host-info">
					<div class="picture" style="background-image: url(/images/users/<%= activity.creator.id %>-48.jpg)">
						<div class="picture-feedback" style="background: <%= color_for_picture_score(activity.creator.picture_score) %>">
							<%= sprintf("%+g", activity.creator.picture_score) %>
						</div>
					</div>
					<div class="info">
						<div class="title">
							<div class="name"><%= activity.creator.first_name %></div>
							<div class="rating">★★★☆</div>
						</div>
						<div class="compatibility">
							<div class="canvas"><canvas width="30" height="30" class="afinity-chart" /></div>
							<div class="score"><span class="int"><%= (activity.creator.afinity_with(@current_user) * 100).round %></span><span class="percent">%</span></div>
						</div>
						<div class="ratings">
							<div class="rating-ttr">Average time to respond: <em><%= activity.creator.time_to_respond %></em></div>
							<div class="rating-ttr">Punctuality: <em><%= activity.creator.punctuality %></em></div>
						</div>
					</div>
				</div>
			</label>
			<%
				end
			%>
		</div>
	</div>
	
</div>
