<div class="title">Sign-up to receive an invite and know when we launch near you:</div>
<div class="form-block">
<%= form_for(@subscriber, :html => { :id => 'subscriber-form' }) do |f| %>
	<% if @subscriber.errors[:email].length > 0 %>
	<div class="err-block">
		<ul class="errors">
			<% @subscriber.errors[:email].each do |msg| %>
		      <li>Email <%= msg %></li>
		    <% end %>
		</ul>
	</div>
	<% end %>
	<div class="labeled-input">
		<div><%= f.email_field :email, :size => nil %></div>
		<%= f.label :email, 'Email' %>
	</div>
	<div class="labeled-input">
	    <div><%= f.text_field :location, :size => nil %></div>
		<%= f.label :location, 'City, State' %>
	</div>
	<div class="submit">
		<button type="submit" class="mj-button mojo">Subscribe</button>
	</div>
<% end %>
</div>
