<div class="userhome-container">
	<div class="header">
		<h2>Hello, <%= current_user.first_name %> :)</h2>
		<div class="links"><a href="#">Settings</a></div>
	</div>
	<div class="body">
		<div class="row">
			<div class="section profile">
				<div class="title">Profile</div>
				<div class="content">
					<div class="picture">
						<div class="pic96"><%= image_tag "/images/users/"+@user.id.to_s+"-96.jpg" %></div>
						<div class="title">(you)</div>
					</div>
					<div class="info">
						<dl>
							<dt>Rating</dt>
							<dd>★★★★☆ (4.1)</dd>
							<dt>Dates rating</dt>
							<dd>★★★★★ (4.9)</dd>
							<dt>Dates attended</dt>
							<dd><em>9</em>, including <em>5</em> created</dd>
							<dt>Cancels</dt>
							<dd>None</dd>
							<dt>Lates</dt>
							<dd><em>8</em> times, <em>15 minutes</em> average</dd>
							<dt>Response time</dt>
							<dd><em>2 hours</em> average</dd>
							<dt>Notes</dt>
							<dd>Notes for myself</dd>
					</div>
				</div>
			</div>
			<div class="section friends">
				<div class="heading">
					<div class="title">Wing-buddies</div>
					<div class="extra"><button class="white small">+ Add</button></div>
				</div>
				<div class="content">
					<ul class="friendlist">
						<% @buddies.each do |buddy| %>
							<li>
								<div class="pic48"><%= image_tag "/images/users/"+buddy.id.to_s+"-48.jpg" %></div>
								<div class="name"><%= buddy.first_name %></div>
							</li>
						<% end %>
					</ul>
					<div class="clearing-block"></div>
				</div>
			</div>
			<div class="clearing-block"></div>
		</div>
		<div class="section dates">
			<div class="title">Your dates</div>
			<div class="content">
				<div class="col-left">
					<div class="title">Upcoming</div>
					<div class="date">
						<div class="title">Mojitos after work with Jen</div>
						<div class="time">Tomorrow at 7pm</div>
						<div class="preview">Please be on time!</div>
						<div class="actions">
							<div>✘ <a href="#">Cancel</a></div>
							<div>☂ <a href="#">I am late!</a></div>
						</div>
					</div>
				</div>
				<div class="col-center">
					<div class="title">Week-peek</div>
					<table class="calendar-week">
						<tr>
							<th>Monday</th>
							<th>Tuesday</th>
							<th>Wednesday</th>
							<th>Thursday</th>
							<th>Friday</th>
							<th>Saturday</th>
							<th>Sunday</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="col-right">
					<div class="title">Items to be completed</div>
					<ul class="messages">
						<li class="issue">Please complete item number 1</li>
						<li class="question">Anna reported you were late, correct?</li>
						<li class="review">Please review your date with Anna</li>
					</ul>
				</div>
				<div class="clearing-block"></div>
			</div>
		</div>
		<div class="row">
			<div class="section quick-create">
				<div class="heading">
					<div class="title">Create a date</div>
					<div class="extra"><button class="white small">+ Buddy</button></div>
				</div>
				<div class="content">
					<%= form_tag '#todo' do %>
						<div class="input-row">
							<div class="smart-labeled-input">
								<%= text_field_tag :title, '', :size => nil %>
								<div class="smart-label">Title</div>
							</div>
							<div class="hybrid-input mj-micro-select">
								<label title="Food and Drinks"><input type="radio" name="date_type" value="foodanddrinks"><img src="/images/icons/date-food_and_drinks-micro-gray.png" alt="" /></label><label title="Entertainment"><input type="radio" name="date_type" value="entertainment"><img src="/images/icons/date-entertainment-micro-gray.png" alt="" /></label><label title="Outdoor"><input type="radio" name="date_type" value="outdoor"><img src="/images/icons/date-outdoor-micro-gray.png" alt="" /></label>
							</div>
						</div>
						<div class="input-row description">
							<div class="smart-labeled-input">
								<div class="smart-label">Description</div>
								<%= text_area_tag :title, '', :size => nil %>
							</div>
						</div>
						<div class="input-row labeled">
							<label>When</label>
							<div class="input">
								<%= text_field_tag :smart_time, '', :size => nil %>
							</div>
						</div>
						<div class="input-row labeled">
							<label>Where</label>
							<div class="input">
								<span class="thumb">San Francisco</span> <%= text_field_tag :smart_location, '', :size => nil %>
							</div>
						</div>
						<div class="submit">
							<button type="submit">Create</button>
						</div>
					<% end %>
				</div>
			</div>
			<div class="section quick-join">
				<div class="heading">
					<div class="title">Join a date</div>
					<div class="extra"><button class="white small">+ Buddy</button></div>
				</div>
				<div class="content">
					<form>
						<div class="header">Filters</div>
						<div class="date-feed">
							<ul>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="footer">
							<div class="submit">
								<button type="submit">Join Selected</button>
							</div>
						</div>
				</div>
			</div>
			<div class="clearing-block"></div>
		</div>
	</div>
</div>
