<div class="result mj-place">
	<label>
		<!-- name="stepflow[sortie_attributes][location]" -->
		<div class="input"><input type="radio" name="sortie[location]" value="business-yelp-<%= place.provider_id %>" /></div>
		<div class="place">
			<div class="title"><%= place.name %></div>
			<div class="address"><%= place.address %></div>
		</div>
		<div class="review">
			<%= image_tag place.yelp.rating_img_url_small %>
			<%= link_to pluralize(place.yelp.review_count, "review"), place.yelp.url %>
		</div>
	</label>
</div>
